@import ../../../styles/helpers

.user
  padding: 32px 20px
  height: 100%
  border-radius: 16px
  box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12)
  background: $neutrals8
  border: 1px solid $neutrals6
  text-align: center

.avatar
  width: 160px
  height: 160px
  margin: 0 auto 24px

  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 50%

.name
  margin-bottom: 4px
  +body-bold-1

.code
  display: inline-flex
  align-items: center
  margin-bottom: 20px

.number
  +button-2
  color: $neutrals2

.styleCopyContainer 
    position: relative
    
    &:hover
        .styleCheck
            display: flex

.styleCheck
    position: absolute
    top: -40px
    font-size: 14px
    cursor: default
    box-shadow: 0px 16px 64px -16px #1f2f4666
    background: #07044B
    color: #FCFCFD
    font-weight: 500
    display: none
    justify-content: center
    left: -60px
    border-radius: 8px
    align-items: center
    width: 150px
    height: 40px

.copy
  margin-left: 8px
  cursor: pointer

  svg
    fill: $orange-light
    transition: fill .2s

  &:hover
    svg
      fill: darken($orange-light, 10)

.info
  margin-bottom: 20px
  +caption-2
  color: $neutrals4

.site
  display: inline-flex
  align-items: center
  margin-bottom: 48px
  +button-2
  color: $neutrals2

  svg
    margin-right: 8px
    fill: $neutrals4

.control
  display: inline-block
  position: relative
  margin-bottom: 48px

.box
  position: absolute
  left: 50%
  bottom: calc(100% + 8px)
  z-index: 2
  width: 220px
  transform: translateX(-50%)
  padding: 32px 16px
  background: $neutrals8
  border: 1px solid $neutrals6
  box-shadow: 0px 32px 32px -8px rgba(31, 47, 70, 0.12)
  border-radius: 16px
  text-align: center
  visibility: hidden
  opacity: 0
  transition: all .2s

  &.active
    visibility: visible
    opacity: 1

.stage
  margin-bottom: 24px
  font-weight: 500

.share
  display: flex
  justify-content: center

.direction
  span
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    width: 48px
    height: 48px
    border-radius: 50%
    background: $neutrals6
    transition: all .2s

    svg
      transition: fill .2s

    &:hover
      background: $orange-light

      svg
        fill: $neutrals8

  &:not(:last-child)
    margin-right: 24px

.btns
  display: flex
  justify-content: center
  align-items: center

.button
  span
    &:nth-child(2)
      display: none

  &.active
    background: $orange-light
    box-shadow: inset 0 0 0 2px $orange-light

    svg
      fill: $neutrals8

    span
      &:first-child
        display: none

      &:nth-child(2)
        display: inline

  &:not(:last-child)
    margin-right: 8px

.socials
  display: flex
  justify-content: space-between
  margin: auto 60px

.social
  svg
    fill: $neutrals4
    transition: fill .2s

  &:hover
    svg
      fill: $orange-light

  &:not(:last-child)
    margin-right: 24px

.note
  margin-top: 48px
  padding-top: 48px
  border-top: 1px solid $neutrals6
  +caption-2
  color: $neutrals4
  font-weight: normal

.link
  margin-bottom: 50px

  a
    display: flex
    color: $neutrals2
    font-size: 14px
    align-items: center
    justify-content: center

    svg
      margin-right: 10px

.more
  font-weight: bold
  color: $neutrals4
  font-size: 20px
  margin-bottom: 8px

.options 
  display: flex
  justify-content: center
  margin: 30px auto

@media (max-width: 1023px)
  .user
    margin: auto
    margin-top: -30px